{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
          <h5 class="mb-0">Anciennes Épreuves</h5>
        </div>
        <div class="card-body">
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <a href="#">Examen 1</a>
              <span class="badge bg-primary rounded-pill">PDF</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <a href="#">Examen 2</a>
              <span class="badge bg-primary rounded-pill">PDF</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <a href="#">Examen 3</a>
              <span class="badge bg-primary rounded-pill">PDF</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}